[submodule "External/JUCE"]
	path = External/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "External/Gin"]
	path = External/Gin
	url = git@github.com:FigBug/Gin.git
[submodule "External/bd_binary_asset_utilities"]
	path = External/bd_binary_asset_utilities
	url = git@github.com:Bogren-Digital/bd_binary_asset_utilities.git
[submodule "External/bd_image_resampler"]
	path = External/bd_image_resampler
	url = git@github.com:Bogren-Digital/bd_image_resampler.git
